<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Quickstart Breakfast</td> </tr>
      <tr> <td>09:00</td>  <td>Data Intro for Librarians</td> </tr>
      <tr> <td>10:30</td>  <td>Energy Break (Coffee, Decaf, Tea, Lemon Water)</td> </tr>
      <tr> <td>12:00</td>  <td>Harvest Bounty Buffet</td> </tr>
      <tr> <td>13:00</td>  <td>Shell Lessons for Libraries</td> </tr>
      <tr> <td>14:30</td>  <td>Breads and Spreads</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Zuccchini Bread, Bagels, Fruit</td> </tr>
      <tr> <td>09:00</td>  <td>Git Intro for Librarians</td> </tr>
      <tr> <td>10:30</td>  <td>Energy Break (Coffee, Decaf, Tea, Lemon Water)</td> </tr>
      <tr> <td>12:00</td>  <td>Tasty Tex Mex & Brownies</td> </tr>
      <tr> <td>13:00</td>  <td>OpenRefine for Librarians</td> </tr>
      <tr> <td>14:30</td>  <td>Seasonal Fresh Fruit & Warm Spinach Dip</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
    
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>08:30</td>  <td>Quickstart Breakfast</td> </tr>
      <tr> <td>09:00</td>  <td>(Data Carpentry) Python for Librarians</td> </tr>
      <tr> <td>10:30</td>  <td>Energy Break (Coffee, Decaf, Tea, Lemon Water)</td> </tr>
      <tr> <td>12:00</td>  <td>Sliced Roast Beef with Mushroom Gravy</td> </tr>
      <tr> <td>13:00</td>  <td>(Data Carpentry) Python for Librarians</td> </tr>
      <tr> <td>14:30</td>  <td>Fresh Garden Crudites & Bruchetta Dip</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
</div>
</div>
